.form__input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 0.9rem;

  padding: 5px 10px;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 76%;
  height: 40px;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}